/* some global styles possibly*/
section {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid black;
}

.hero {
    height:500px;
}

.light-gray-bg {
    background-color: transparent gray;
}

.has-bg-image {
    background-image: url(https://images.unsplash.com/photo-1564602832342-3f6c84a37e47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat:no-repeat;
    background-position: center;
}

.hero h1 {
    text-align: center;
    color:pink;
    background-color:black;
}

.cta {
    background-color:aquamarine;
    color: darkslateblue;
    padding: 1em;
    border-radius: 20px;
    transition: all .3s;
}

.cta:hover {
    background-color:azure;
}

.secondary-cta {
    background-color: pink;
    color: darkslateblue;
    padding: 1em;
    border-radius: 20px;
}

.secondary-cta:hover {
    background-color: rgb(255, 232, 235);
}
/*css for jamie's page only*/