:root {
    --primary-color:blue;
    --primary-color-contrast:pink;
    /* --secondary-color: red */
    --secondary-color-contrast: black; 
}






/* some global styles possibly */
section{
    justify-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 50px 0;
    border-bottom: 1px solid black;
    border-bottom: 1px solid var(--secondary-color-contrast) ;

}

.hero {
    background-image: url(./Rodas-images/no-revisions-8Xm3NDLsvUA-unsplash.jpg);
    background-color: gray;
    height: 400px;
}
.primary-bg {
    background-color: var(--primary-color-contrast);
}

.cta{
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    padding: 1em;
    border-radius: 20px;
    transition: .3s;
    text-decoration: none;

}

.cta:hover{
    background-color: var(--primary-color-contrast);
    color-scheme: var(--primary-color);
}

.secondary-cta {
    background-color: var(--secondary-color);
    color: var(--secondary-color-contrast);
}

.secondary-cta:hover {
    color: var(--secondary-color) ;
    background-color: var(--secondary-color-contrast);
}






/* css for Rodas's page only  */